[mysqld]
general_log = 1
general_log_file = /var/logs/mysql/logs/general_queries.log
slow-query-log = 1
slow-query-log-file = /var/logs/mysql/logs/slow_queries.log
long_query_time = 1
log-queries-not-using-indexes
